.env


/data

/test_data

.cursorrules

.clinerules

/src/filesystem/dist

/src/filesystem/build

/src/filesystem/package-lock.json

/logs

# Ignore the __pycache__ directory
/__pycache__

# Ignore the .pytest_cache directory
/.pytest_cache

# Ignore the .venv directory
/.venv

# Ignore the .git directory
/.git

# Ignore all node_modules directories
**/node_modules/

# Ignore all build directories
**/build/

# Ignore all dist directories
**/dist/

# Ignore all package-lock.json files
**/package-lock.json

startup_debug.log

/chroma_data
